Demo/*

DensePose/data/*
DensePose/outputs/*
DensePose/densepose_rcnn_R_50_FPN_s1x.pkl
DensePose/densepose_rcnn_R_101_FPN_DL_s1x.pkl

magic-animate/data/*
magic-animate/outputs/*
magic-animate/demo/outputs/*
magic-animate/pretrained_models/*

